/* accordion start */
 .accordion-button 
 { font-size: 2rem;
  color: var(--bs-accordion-btn-color);
  background-color: #F7F7F8;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #F7F7F8;
  box-shadow:#F7F7F8
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius:#F7F7F8;
  border-top-right-radius: #F7F7F8;
}
.accordion-item {
  margin: 20px; 
}
.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
      --bs-accordion-border-color: none;    
}
.accordion-body {
  background-color: #F7F7F8;
}
ordion-header {
  margin: 0px;
}
.accordion-button:visited {
  border: 1px solid;
}
.accordion-item:hover {
  border: 1px solid black;
} */
 /* accordion end